.textsize{
	font-size: 1.5em;
	color: white;
}
.textpadding{
	padding-left: 15px;
}
.navsize{
	font-size: 1.2em;
	color: white;
}
.fonttype{
	font-family: 'Archivo', sans-serif;
}
.abspadding{
	padding-left: 120px;
	color: #eae8e8;
}
.liborderone{
	border-left: 1px solid #eae8e8;
	border-right: 1px solid #eae8e8;
}
.libordertwo{
	border-left: 1px solid #eae8e8;
}
.liborderthree{
	border-right: 1px solid #eae8e8;
}
.navpadding{
	padding-left: 5px;
	padding-right: 5px;
}
.acolor{
	color: white;
}
.navhover:hover{
	background-color: #000;
	transition: .5s;
}
.secondshadow{
	box-shadow: 5px 5px 5px rgba(40, 40, 40, 0.1);
}
.secondafont{
	font-size: 1em;
	color: #ee3733;
	font-family: 'Archivo', sans-serif;
	padding-right: 17px;
	padding-left: 17px;
}
.secondafont:hover{
	color: #000;
}
.flt{
	float: right;
}
.abssize{
	font-size: 1.2em;
}

.cimgsize{
	width: 100%;
	height: 45vh;
}

.carousel-inner{
  width: 100%;
	max-height: 45vh;
}

.date{
	width: auto;
	height: auto;
	background-color: #999966;
	margin: 0.5vh;
}

.month{
	background-color: #009933;
	text-align: center;
	padding: 0.5vh 0 0.5vh 0;
}

.daytext{
	text-align: center;
	height: auto;
	display: block;
	padding: 1vh 0 1vh 0;
}

.datelist{
	padding-bottom: 1vh;
}

.title{
	height: 40%;
	font-size: 1.5em;
}

.time{
	height: 60%;
}

.timetext{
	padding: 1vh 0 1vh 0;
	display: block;
}
